	body{
		background-color: rgb(35,36,31); 
	}

	#contact{
		position: absolute;
		width: 100px; 
		height: 200px;
		left:90%;
		color:white;
	}

	#contact>h2{
		margin:0;
	}

	a{
		color:white;
		text-decoration: none; 
	}

	a:hover{
		color: white;
	}